$brand--color-secondry : orange;
$brand--color: #2874f0;
$white: #fff;
$black: #000;
$grey: #ccc;
$success: green;
$error: red;

// reset code
ul { 
  list-style: none; 
  padding: 0; 
  margin: auto;
}

.upper--case{
  text-transform: uppercase;
}
.border--wrap{
  border:1px solid $black
}
.text--center{
  text-align: center;
}

header{
  background-color: $brand--color;
  padding:15px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
  .fa--white{
    color: $white;
  }
  display: flex;
  justify-content: space-between;
  aside{
    flex-basis: 50px;
    display: flex;
    justify-content: space-between;
  }
  .fa__star{
    color: $brand--color-secondry;
  }
  .counter{
    position: absolute;
    color:$white;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    font-weight: bold;
    font-size: 12px;
    top:7px;
    right: 7px;
  }
}

.filters{
  display: flex;
  justify-content:space-around;
  border-bottom: 1px solid $grey;
  li{ 
    flex-basis: 50%; 
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0;
    &:first-child{
      border-right:1px solid $grey;
    }
    .svg-inline--fa{
      padding-right: 5px;
    }
  }
}

.product__wrapper{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  & > .prod__Wrap{
    flex-basis: 50%;
    padding: 10px;
    border-bottom: 1px solid $grey;
    box-sizing: border-box;
    img{
      width: 100%;
    }
  }
  & > .prod__Wrap:nth-child(odd){
    border-right: 1px solid $grey;
  }
  button{
    color: $black;
    background-color: $brand--color-secondry;
    border: 1px solid $brand--color-secondry;
    border-radius: 25px;
    padding: 10px;
    display: block;
    margin: 0 auto;
    font-weight: bold;
  }
  .error__msg{
    margin-top: 20px;
    flex-basis: 100%;
    .fa-bug{ color: $error; font-size: 24px;}
  }
}
.offers{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  & span:first-child{ padding-right:8px}
  & span:nth-child(2){ 
    text-decoration:line-through;
    color: $grey ;
  }
  .discount{
    color: $success
  }
}

.selected__item{
  display: flex;
  border:1px solid #000;
  margin: 10px;
  padding: 10px;
  img{
    width:100%;
    max-width: 120px;
    height:120px;
    margin-right: 10px;
  }
  .item-qty span{
    border:1px solid $black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
  }
  .discount{ margin-left: 10px;}
  input{
    border:1px solid $black;
    width:30px;
    margin: 0 5px;
    text-align: center;
  }
  .remove--item{
    margin-top: 10px;
    font-weight: bold;
  }
  .diable__action{
    opacity: .4;
  }
}
.price__details{
  margin: 10px 10px 50px;
  padding: 10px 0;
  .item__name{
    padding-bottom:10px;
    border-bottom:1px solid $grey;
    font-weight: bold;
  }
  .total__payable{ 
    border-top: 1px solid $grey;
    padding-top: 5px;
    font-weight: bold;
  }
  .details--row{
    display: flex;
    justify-content: space-between;
    padding:10px 0
  }
  .item__name, .details--row{
    padding-left: 10px;
    padding-right:10px;
  }
}

footer{
  position: fixed;
  bottom:0;
  width: 100%;
  color: $white;
  background-color: $brand--color;
  padding:10px 0;
  text-align: center;
}
.cart__empty{
  margin-top: 20px;
  color: $error;
}

@media (min-width: 768px) { 
  .filters li:first-child{
    order:2
  }
  .display--none{
    display: none;
  }
  .product__wrapper{
    margin-bottom:50px;
    margin-left: 199px;
    border-left:1px solid $grey;
    .prod__Wrap{
      flex-basis: 20%;
      border: none !important;
      margin-bottom: 20px;
    }
  }
  .filters{
    justify-content: start;
    li{
      padding-left: 20px;
      text-align: left !important;
      &:first-child{
        border-right: none;
      }
      &:last-child{
        flex-basis: 200px;
        border-right: 1px solid $grey
      }
    }
  }
  .cart__wrapper{
    display: flex;
    margin-bottom: 40px;
    .cart__item__wrapper{
      flex-basis:70%
    }
    .price__details{
      flex-basis: 30%;
      margin-bottom: 11px;
    }
  }
 }
