$brand--color-secondry : orange;
$brand--color: #2874f0;
$white: #fff;
$black: #000;
$grey: #ccc;
$success: green;
$error: red;

// reset code
body{
  background-color: #f1f1f1;
}
ul { 
  list-style: none; 
  padding: 0; 
  margin: auto;
}

.upper--case{
  text-transform: uppercase;
}
.border--wrap{
  border:1px solid $black
}
.text--center{
  text-align: center;
}
.font--bold{
  font-weight: bold;
}

header{
  background-color: $brand--color;
  padding:18px 20px 15px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
  .fa--white{
    color: $white;
    font-size: 20px;
  }
  display: flex;
  justify-content: space-between;
  aside{
    // flex-basis: 250px;
    display: flex;
    justify-content: space-between;
  }
  .fa__star{
    color: $brand--color-secondry;
    font-size: 20px;
  }
  .counter{
    position: absolute;
    color:$white;
    background-color: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    font-weight: bold;
    font-size: 12px;
    top:7px;
    right: 7px;
  }
  .search__bar{
    display: flex;
    margin-right:30px;
    input{
      width:20px;
      transition: width 2s;
      border:none;
      color:$white;
      background-color: transparent;
      position: relative;
      z-index: 1;
      // margin-right: 20px;
      outline: none;
      border-bottom:1px solid $white;
      padding-bottom:10px;

      &::placeholder{
        color: $white;
      }
      &:focus{
        width:200px;
        // background-color: red;
        // border-bottom:1px solid $white;
      }
    }
    .fa-search{
      // order:2;
      position: absolute;
      right: 72px;
      top:17px;
    }
  }
}

.filters{
  display: flex;
  justify-content:space-around;
  border-bottom: 1px solid $grey;
  li{ 
    flex-basis: 50%; 
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0;
    &:first-child{
      border-right:1px solid $grey;
    }
    .svg-inline--fa{
      padding-right: 5px;
    }
  }
  .filer__details{
    position: absolute;
    margin-top: 20px;
    width:165px;
  }

  .price-field input[type=range] {
  position: absolute;
  background-color: $brand--color;
  left:0;
  width: 160px;
  height: 2px; 
  border: 0;
  outline: 0;
  box-sizing: border-box;
  border-radius: 5px;
  pointer-events: none;
  -webkit-appearance: none;
}

.price-field input[type=range]:active,
.price-field input[type=range]:focus {
  outline: 0;
}


.price-field input[type=range]::-webkit-slider-thumb { 
  position: relative;
  -webkit-appearance: none;
  outline: 0;
  border-radius: 50%;
  border:1px solid $grey; 
  height: 15px;
  width: 15px;
  background-color: #f1f1f1;
  cursor: pointer;
  pointer-events: all;
  z-index: 100;
}
  .only--desk--display{
    display:none
  }
  .price--label{
    margin: 15px 0;
  }
  .btn__apply{
    background-color: $brand--color;
    color:$white;
    border:none;
    border-radius: 15px;
    padding: 5px 20px;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    &:hover{
      background-color: $brand--color-secondry;
    }
  }
  .slider {
    -webkit-appearance: none;
    height: 1px;
    background: $brand--color;
    // opacity: 0.7;
    outline: none;
    &:before{
      content:"₹100";
    }
    &:after{
      content:"₹1000";
    }
    &:before, &:after{
      position: relative;
      top:-18px;
      color:#444
    }
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius:50%;
    border:1px solid #ccc;
    background: #fff;
    cursor: pointer;
  }
  .slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius:50%;
    border:1px solid #ccc;
    background: #fff;
    cursor: pointer;
  }
}

.product__wrapper{
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
  & > .prod__Wrap{
    flex-basis: 50%;
    padding: 10px;
    border-bottom: 1px solid $grey;
    box-sizing: border-box;
    img{
      width: 100%;
    }
  }
  & > .prod__Wrap:nth-child(odd){
    border-right: 1px solid $grey;
  }
  button{
    color: $black;
    background-color: $brand--color-secondry;
    border: 1px solid $brand--color-secondry;
    border-radius: 25px;
    padding: 10px;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    &:hover{
      background-color: $brand--color;
      color:$white;
      border-color: $brand--color;
    }
  }
  .error__msg{
    margin-top: 20px;
    flex-basis: 100%;
    .fa-bug{ color: $error; font-size: 24px;}
  }
}
.offers{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  & span:first-child{ padding-right:8px}
  & span:nth-child(2){ 
    text-decoration:line-through;
    color: $grey ;
  }
  .discount{
    color: $success
  }
}

.selected__item{
  display: flex;
  border:1px solid #000;
  margin: 10px;
  padding: 10px;
  img{
    width:100%;
    max-width: 120px;
    height:120px;
    margin-right: 10px;
  }
  .item-qty span{
    border:1px solid $black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
  }
  .discount{ margin-left: 10px;}
  input{
    border:1px solid $black;
    width:30px;
    margin: 0 5px;
    text-align: center;
  }
  .remove--item{
    margin-top: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  .diable__action{
    opacity: .4;
  }
}
.price__details{
  margin: 10px 10px 50px;
  padding: 10px 0;
  .item__name{
    padding-bottom:10px;
    border-bottom:1px solid $grey;
    font-weight: bold;
  }
  .total__payable{ 
    border-top: 1px solid $grey;
    padding-top: 5px;
    font-weight: bold;
  }
  .details--row{
    display: flex;
    justify-content: space-between;
    padding:10px 0
  }
  .item__name, .details--row{
    padding-left: 10px;
    padding-right:10px;
  }
}

footer{
  position: fixed;
  bottom:0;
  width: 100%;
  color: $white;
  background-color: $brand--color;
  padding:10px 0;
  text-align: center;
}
.cart__empty{
  margin-top: 20px;
  color: $error
}

@media (min-width: 768px) { 
  .filters li:first-child{
    order:2
  }
  .display--none{
    display: none;
  }
  .product__wrapper{
    padding-bottom:50px;
    margin-left: 199px;
    border-left:1px solid $grey;
    .prod__Wrap{
      flex-basis: 20%;
      border: none !important;
      margin-bottom: 20px;
    }
  }
  .filters{
    justify-content: start;
    border-bottom:none;
    li{
      padding-top:20px;
      padding-left: 20px;
      text-align: left !important;
      &:first-child{
        border-right: none;
      }
      &:last-child{
        flex-basis: 200px;
        border-right: 1px solid $grey
      }
    }
    .sort__by{
      padding-left: 2px;
    }
    .only--desk--display{
      display: inline-block;
    }
    .filer__details{
      display: block;
    }
    .price__filter{
      margin-left: 20px;
      font-size: 13px;
      color: $brand--color;
      border-bottom:2px solid #f1f1f1;
      padding-bottom: 2px;
      cursor: pointer;
      &.active{
        border-bottom-color: $brand--color;
      }
      &:hover{
        border-color: $brand--color - 80%;
      }
    }   
  }
  .cart__wrapper{
    display: flex;
    margin-bottom: 40px;
    .cart__item__wrapper{
      flex-basis:70%
    }
    .price__details{
      flex-basis: 30%;
      margin-bottom: 11px;
    }
  }
 }