$link--color : orange;
$brand--color: #2874f0;
$white: #fff;
$grey: #ccc;

// reset code
ul { 
  list-style: none; 
  padding: 0; 
  margin: auto;
}

header{
  background-color: $brand--color;
  padding:10px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .1);
  .fa--white{
    color: $white;
  }
  display: flex;
  justify-content: space-between;
  aside{
    flex-basis: 50px;
    display: flex;
    justify-content: space-between;
  }
  .fa__star{
    color: $link--color;
  }
}

.filters{
  display: flex;
  justify-content:space-around;
  border-bottom: 1px solid $grey;
  li{ 
    flex-basis: 50%; 
    text-align: center;
    padding: 10px 0;
    &:first-child{
      border-right:1px solid $grey;
    }
    .svg-inline--fa{
      padding-right: 5px;
    }
  }
}

footer{
  position: fixed;
  bottom:0;
  width: 100%;
  color: $white;
  background-color: $brand--color;
  padding:10px 0;
  text-align: center;
}

// .App {
//   text-align: center;
// }

// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }

// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }

// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: white;
// }

// .App-link {
//   color: $link--color;
// }

// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }
